@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200&display=swap');

:root{
    --main: #eec5ad ;
    --secondary: rgb(0, 43, 63);
    --textMain: #ffffff;
    font-family: 'M PLUS 2', sans-serif;
    --opacity: rgba(0, 43, 63, 0.8);
}

body{
    margin:0;
    background-color:   var(--main);
    background-blend-mode: color;
}
main{
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
header {
    display: grid;
    place-content:  center;
    width:  100%;
    height: 10vh;
    background-color: var(--secondary);
}
.headerText{
    color: var(--textMain);
    font-size: 4vh;

}
.container{
    
    width: 90%;
    height: 25vh;
}
.battleSets {

    display: flex;
    gap: 1rem;
    height: 25vh;
    width: 100%;
    margin-block: 1vh;
    justify-content: center;
}
.battleText{
    
    height: 4vh;
    width: 100%;
    font-size: 2vh;
    color: var(--textMain);
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 0.4vh solid white;
    

}
.battle {
    max-width: 110%;
    width: 100%;
    height:18.75vh;
    background-color: var(--secondary);
    border-radius: 0 0 5% 5%;
    background:transparent;
}
.battleCont{


    max-width: 18%;
    width:  100%;
    height: 24vh;
    background-color: var(--secondary);
    border-radius: 5%;
    border:0.4vh solid white;
    overflow: hidden

}

img{
    height: 18.9vh;
    width: 16.4vw;

}

img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 18.6vh;
    width: 16.1vw;
    background-image: url(assets/soon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img:hover{
    animation: codeView 1000ms ease-out;
    animation-fill-mode:forwards;
}
@keyframes codeView {
    to{
    opacity:0 ;
    transform: rotateY(180deg);
    
    
    }
}
@keyframes code {
    to{
    visibility: visible;
    opacity: 1;
    }
}
xmp{
    z-index: 100000000;
    margin-top: -19.2vh;
    position: absolute;
    max-width: 20vw;
    font-weight: 200;
    color: var(--textMain);
    font-size: 1.1vh;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    min-width: 15;
    width: fit-content;
    right: 1vw;
    border: 0.25vh solid white;
    padding: 1em;
    border-radius: 25px;
    padding-right: 2em;
}

.battle:hover xmp{
    color: var(--textMain);
    background-color: var(--secondary);
    animation: code 1000ms ease-out;
    animation-fill-mode: forwards;
}

.battle:hover div{
color: rgba(0, 0, 0, 0.432);
}

::-webkit-scrollbar{

    width: 1em;
    }

::-webkit-scrollbar-track{

    background-color: var(--main);
    border-radius: 100vw;

}

::-webkit-scrollbar-thumb{

    background-color:var(--secondary);
    border-radius: 100vw;;
    border: 2px solid var(--main);
}
::-webkit-scrollbar-thumb:hover{

background-color: var(--opacity);

}

.sidebar{

}

.sidebarLeft{

}

.sidebarRight{

}


